
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    background: black;
    font-family: 'Bebas Neue', cursive;
}
/* footer{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
} */

i{
    /* justify-content: center;
    align-items: center; */
    padding-left: 20px;
    padding-right: 20px;
}

.main{
    /* background-image: url(/Assets/Images/mariola-grobelska-h6XihPOkSIY-unsplash.jpg); */
}



.heading {
   font-size: 80px !important;
	-webkit-animation: tracking-in-contract-bck 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
  .text-white{
    font-size: 60px;
        
  }



  