@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    background: black;
    font-family: 'Bebas Neue', cursive;
}

body::-webkit-scrollbar{
    background-color: #F5F5F5;
    color: #333;
    line-height: 1.5;
   display: none;
  }
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
/* footer{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
} */

i{
    /* justify-content: center;
    align-items: center; */
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width:700px){
.contactMe{
margin: top 100px !important ;

}


}

@media only screen and (max-width:300px) {
    
    .carousel-item{
        display: none !important;
        
        
    }
    
    .testimonials{
        display: block !important;
    }
    
    
    
}
